<header class="header" role="banner">
  <a href="#content" class="skip-link">Skip to Main Content</a>
  <div class="site-title">Accessibility Cache</div>
  <nav class="nav-primary-container">
    <ul class="nav-primary-list">
      {% for item in site.data.nav-primary %}
        <li {% if page.url != item.link %}class="nav-primary-item"{% elsif page.url == item.link %}class="nav-primary-item is-current"{% endif %}><a href="{{ item.link  | prepend: site.baseurl }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
