// Typography

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500');

// 	Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
	margin-top: 0;
	text-rendering: optimizelegibility;
}

h1 {
	@include responsive-headers($h1-properties);
}

h2 {
	@include responsive-headers($h2-properties);
}

h3 {
	@include responsive-headers($h3-properties);
}

h4 {
	@include responsive-headers($h4-properties);
}

h5 {
	@include responsive-headers($h5-properties);
}

h6 {
	@include responsive-headers($h6-properties);
}

// These declarations are kept separate from and placed after
// the previous tag-based declarations so that the classes beat the tags in
// the CSS cascade, and thus <h1 class="h2"> will be styled like an h2.
.h1 {
	@include responsive-headers($h1-properties);
}

.h2 {
	@include responsive-headers($h2-properties);
}

.h3 {
	@include responsive-headers($h3-properties);
}

.h4 {
	@include responsive-headers($h4-properties);
}

.h5 {
	@include responsive-headers($h5-properties);
}

.h6 {
	@include responsive-headers($h6-properties);
}

p,
ul,
ol,
pre,
table,
blockquote {
	font-size: 1rem; // 16px
	font-weight: normal;
	letter-spacing: normal;
	margin-top: 0;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin-left: 0;
	padding-left: 1em;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

hr {
	border: 1px solid;
	margin: -1px 0;
}

b,
strong,
em,
small,
code {
	line-height: 1;
}

sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

hr {
	border: 0;
	border-top: 2px solid rgba(var(--content-primary-rgb), 0.16);
	height: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 10%;

	@include breakpoint(md) {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}


// Links
a {
	color: var(--brand-secondary);
	border-bottom: 1px solid rgba(var(--brand-secondary-rgb), 0.24);
	text-decoration: none;
	transition: border-bottom-color 0.2s linear;

	&:hover {
		border-bottom-color: var(--brand-secondary);
	}
}
