<!doctype html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ "/assets/css/style.css"  | prepend: site.baseurl }}">
	</head>
	<body class="site-wrap">
		{% include nav.html %}
		<main id="content" class="main" tabindex="-1">
			{{ content }}
			{% include footer.html %}
		</main>
	</body>
</html>
